span.noad {
display:inline-block;
text-align:left;
vertical-align:middle;
font-size:60%;
}

span.noad div.sub {
position:relative;
bottom:0.4em;
}

span.noad div.sup {
position:relative;
top:0.4em;
}
span.italic {
font-style:italic;
}

span.normal {
font-style:normal;
}

span.op {
display:inline-block;
text-align:center;
vertical-align:middle;
font-size:200%;
}

span.op span.noad {
font-size:60%;
}

span.op span.noad div.sub {
position:relative;
bottom:1em;
}

span.op span.noad div.sup {
position:relative;
top:1em;
}

span.op div.sup {
font-size:30%;
vertical-align:bottom;
}

span.op div.sub {
font-size:30%;
vertical-align:bottom;
}

span.op div.nuc {
font-size:100%;
line-height:80%;
}

span.null {
display:inline-block;
width:0px;
line-height:0px;
}

span.binrel {
display:inline-block;
text-align:center;
vertical-align:middle;
font-size:110%;
}

span.box {
font-style:normal;
vertical-align:middle;
}

span.delim {
font-size:130%;
vertical-align:middle;
}

span.rad {
display:inline-block;
border-top:1pt solid;
vertical-align:middle;
}

span.fraction {
display:inline-block;
text-align:center;
vertical-align:middle;
font-size:80%;
}

span.fracdelim {
font-size:150%;
vertical-align:middle;
}
